*.bin
./UnitoBertNer/character_bert_model/pretrained-models/general_character_bert/*.bin
wandb/
intesa_CharacterBERT_clustering/venv.nosync
intesa_CharacterBERT_clustering/.DS_Store
.DS_Store
venv.nosync/*
.venv/
myenv/